%h1.mt-3 退会の確認


- if @user.errors.any?
  .alert.alert-danger
    %h4.alert-heading= @user.errors.full_messages.first
    %p 退会できませんでした。以下の内容を確認してください。
    %ul
      - @user.errors.full_messages.each do |message|
        %li= message

%p 退会した場合、ユーザに関するデータが全て削除されます。
%p ただし、以下の場合は退会できません。

%ul
  %li 未開催のイベントの主催者である場合
  %li 参加予定のイベントがある場合
%hr

= link_to "退会する", retirements_path, method: :post, remote: true, class: "btn btn-danger", data: { confirm: "本当に退会しますか？" }